<head>
	<title>textcircle</title>
</head>

<body>
	<h1>Welcome to TextCircles</h1>
	{{>date_display}}
	{{>editor}}
</body>

<template name="date_display">
	{{current_date}}
</template>
<template name="editor">
	{{>sharejsCM docid=docid id="editor"}}
</template>
